# Ignore all
*
!*/

# Add metadata and build files
!.gitignore
!.dockerignore
!**/Dockerfile
!**/Makefile
!**/pyproject.toml
!**/requirements*
!**/poetry.lock
!**/README.md
!**/.keep

# Static files
!**/*.j2
!**/*.ico
!**/*.css

# Add Python code
!src
**/.*_cache
**/__pycache__
